 body{ 
  height: 100%;
 background-color: rgb(179, 229, 248); 
 font-family: 'Source Sans Pro', sans-serif; 
} 
.body{
 display: flex; 
}
.head img{  
position: relative;
 width: 200px; 
 height: 60px; 
 padding-top: 150px; 
 padding-left: 20px; 
 
} 
.head h3{ 
position: inherit;
 width: 700px;
 padding-left: 20px;
 font-size: 20px;
 font-family: 'Source Code Pro', monospace;

} 
.side{ 
position: relative;
 width: 450px; 
 height: 350px; 
 margin-top: 100px;
 margin-left: 30px; 
 padding-left: 5px;
 box-sizing: border-box; 
 box-shadow: 5px 5px 10px 10px skyblue;
 border-radius: 0.3em; 
 background-color: rgb(227, 212, 136); 
 border: 1px solid rgb(227, 212, 136); 
 opacity: 1;  
} 
.text{ 
 width: 400px; 
 height: 45px; 
 margin: 10px; 
font-size: 20px;
border-radius: 0.3em;   
} 
.input{ 
 background-color: rgb(179, 229, 248); 
 border-color: rgb(179, 229, 248); 
} 
.form{
    display: flex;
    margin-left: 10px;
}
.go{ 
 padding-left: 150px;  
 text-decoration: none; 
 color: rgb(94, 105, 223); 
} 
.finish{ 
 font-size: 20px; 
 
} 
.finish p{
    margin: 10px;
    text-align: center;
}
.finish a{  
position: absolute;
 text-decoration: none;
 text-align: center;
 color: rgb(2, 2, 2); 
 width: 400px; 
 height: 30px;
 font-weight: 400;
 margin-left: 10px; 
 padding-top: 2px;
 margin-top: 2px;
 border-radius: 0.1em;
 box-shadow: 2px 2px 2px 2px rgb(179, 229, 248);
 border: 1px rgb(red, green, blue); 
 background-color: rgb(179, 229, 248);
opacity: 1;
}
.p{
    position: absolute;
    font-size: 20px;
    top: 350px;
    left: 100px;
}
